<html>
<head>
    <title>Car Service</title>
</head>
<body>
<h2>Car Service</h2>
<form action="result" method="post">
    <table>
        <tr>
            <td><label>Brand</label></td>
            <td><input type="text" name="brand"></td>
        </tr>
        <tr>
            <td><label>Price</label></td>
            <td><input type="text" name="price"></td>
        </tr>
        <tr>
            <td><label>Details</label></td>
            <td><input type="text" name="details"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
</body>
</html>

